body {
	background-color: 	#2c2926; 
	height: 100%;
	font-family: Montserrat, sans-serif;
	color: #333;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

textarea {
	font-family: Montserrat, sans-serif; */
}

.wrapper {
	width: 980px; 
	margin: 0 auto;
}

.wrapper_header {
	/*margin-left: 0 auto;*/
	background-image: 	url('../images/headerBG.jpg');
	background-repeat: no-repeat;
	/*background-position: left;*/
	background-position-x: right;
	}

.castingTheme{
	background-color: 	#2c2926;
    background-image: 	url('../images/castingBG.jpg');
	background-size: cover;
}

.div-welcome{
	display:			block;
	max-width:			920px;
	display: 			-webkit-flex; /* Safari */
    -webkit-flex-flow: 	row wrap; /* Safari 6.1+ */
    -webkit-align-content: space-around; /* Safari 7.0+ */
    display: 			flex;
    flex-flow: 			row wrap;
    align-content: 		space-around;	
	margin-top:			30px;
}
.logo{
	width:				100%;
}

.header-casting{
	width:				100%;
	display: 			inline;
	color: 				#f9b600;
	text-decoration: 	none;
	text-transform: 	uppercase;
	margin-top:			10px;
	font-weight: 		bolder;
	/*display: inline;
	color: #f9b600;
	text-decoration: none;
	text-transform: uppercase;*/
}

.h2-casting{ 
	color:				white;
	width:				100%;
	padding-top:		10px;
	padding-bottom: 	20px;
	font-family: Montserrat, sans-serif;
	font-size: 48px;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 10px;
}

.div-filter{
	max-width:			930px;
    display: 			-webkit-flex; /* Safari */
	-webkit-align-items: center; 
    display: 			flex;
	margin-top:			15px;
	margin-bottom: 		0px;
	/*height:				80px;	
	align-items: 		center;
	background-color:	white;
	*/
}

.rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.search{
	width:			300px;
	height:			60px;
	font-size:		14px;
	text-transform: uppercase;
	margin:			5px;
	padding:		3px 12px;
	color: 			#454545;/*#555;*/
	line-height: 	1.42857143;	
}

.search:disabled {
	color:			#B5B5B5;
}

.errorMsgLabel{
	color: red;
	height: 25px;
	margin-left: auto;
	margin-right: auto;
}

.send{
	width:				270px;
	height:				40px;
	font-size:			14px;
	text-transform: 	uppercase;
	margin:				5px;
	padding:			8px 12px;
}

.yellowBG{
	background-color:	#f9b600;
	color:				white;
	border:				none;
}

.content{
	background-color: white;
	height: 500px;
}

.showSelectedOp{
	width:	100%;
	height: 60px;
	background-color: #ECECEC;
	color: rgb(179, 176, 176);
	font-size: 	20px;
	text-transform: uppercase;
	padding-top: 5px;
	position: relative;
}

.showSelectedOp p{
	vertical-align: middle;
	font-size: 25px;
	margin-top: 10px;
}

.resultsArea{
	background-color: white;
	min-height:	400px;
	padding-top: 20px;
	width:100%;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}
.tablaLocutores {
	font-size:	14px;
	color:	black;
	width:	540px;
}
.hidden {
	display:none;
}

.mediaButton	{
	width: 60px;
	padding:0px;
}

.mediaButton button	{
	background-color: white;
	color: gray;
	height: 100%;
	width: 100%;
	border: none;
}

.socialIcon{
	width:		30px;
	height:		30px;
}

.footer  {     
	clear: both;
	position: relative;
	bottom: 5px;
	width: 100%; }

.footer p {
	margin: 0; 
	text-align: center; 
	padding-right: 3px;
	color:	white;
}
.footer a {
	text-decoration: none; 
	color: #f9b600; 
	margin: 0 10px;
}

.link-audiomania-home {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 30px;
  display: inline;
  width: 120px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  text-align: center;
  text-decoration: none;
}
.link-audiomania-home:hover {
  color: #f9b600;
}

.link {
text-decoration: none;
color: black;
}

.link :visited{
color: yellow;
}

.linkDiv {
color: gray;
background-color: #ECECEC;
}

.linkDiv:hover{
color: white;
background-color: #f9b600;
}

.leftSection{
	width:300px;
	background-color: #DADADA;
	min-height: 500px;
	float:left;
	margin-top:30px;
	padding:15px;
}

.rightSection{
	width:530px;
	min-height: 500px;
	float:right;
	margin-top:30px;
	padding:15px;
}

.h1-perfil {
	margin-top: 15px;
	margin-bottom: 5px;
	font-size: 24px;
	width: 250px;	
}

.h3-perfil{
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.perfil-bio{
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 3px solid #ecf0f1;
	font-family: 'Open Sans', sans-serif;
	
}

.perfil-input{
	min-height: 35px;
	border: 1px solid #ecf0f1;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	width:	270px;
	margin-bottom:10px;
	padding-left: 10px;

}

.socialmedia{
	float: right;
	width: 240px;
	display: flex;	
	height:	30px;
	padding:5px;

}
.perfil-share{
	display: block;
	width: 50px;
	height: 20px;		
	background-color: #f9b600;
	position:relative;
	margin-left: 5px;
	text-align: right;
    padding: 0 5px 0 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.mediaLink{
	margin-right:5px;
}

.perfil-share img{
	position: absolute;
	left: 2px;
	margin-top: -2px;
	width: 23px;
	height: 23px;
}

.playerText{
	color: #f9b600;
	padding: 15px 0 0 15px;
	text-align: left;
	z-index: 1;
	top: 5px;
	left: 50px;
	width: 440px;
}
